img{
    width: 500px;
    height: 300px;
}

body{
    background-image: url(https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);

}

h1{
    color: antiquewhite;
}
label{
    color: aliceblue;
}
